body {
	font: 400 14px/1.5 Arial, "Lucida Grande", Verdana, "Microsoft YaHei", hei !important;
}

.hotel-bar-away {
	font-size: 12px;
	z-index: 1000;
	padding: 4px 0 4px 10px;
	line-height: 24px;
	min-height: 33px;
	color: #555;
	width: 100%;
}